.about-page {
  .page-content {
    width: 100vw;
    height: 100vh;
    background-color: $purple;
    .top-container {
      display: flex;
      position: relative;
      top: 64px;
      width: 100vw; min-height: 380px;
      .value-items {
        width: 100%; height: 100%;
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 16px;
        flex-wrap: wrap;
        color: white;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 18px;
        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 16px 24px;
          img {
            &.circle {
              width: 54px; height: 54px;
              margin-bottom: 16px;
              object-fit: cover;
            }
          }
        }
      }
      .andra-back-image {
        width: 100%; height: 100%;
        object-fit: cover;
        filter: blur(5px);
        position: absolute;
        z-index: 1;
      }
    }
    .bottom-container {
      position: relative;
      z-index: 2;
      top: 74px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: 100;
      .about-title {
        font-size: 16px;
        margin: 16px;
      }
      .subtitle {
        margin: 0 16px 16px 16px;
      }
      .progress-bar {
        height: 10px; width: 375px;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $dark-purple;
        margin: 16px;
        .line {
          height: 100%;
          border-radius: 5px;
          opacity: 0;
          transition: width .2s ease;
          width: 0%;
        }
      }

      .line, .item {
        &.html {
          opacity: 1;
          width: 90%;
          background: linear-gradient( to right, $light-red, $red);
        }
        &.javascript {
          opacity: 1;
          width: 50%;
          background: linear-gradient( to right, $green, $light-green);
        }
        &.css {
          opacity: 1;
          width: 80%;
          background: linear-gradient( to right, $yellow, $light-yellow);
        }
        &.jquery {
          opacity: 1;
          width: 40%;
          background: linear-gradient( to right, $blue, $light-blue);
        }
        &.php {
          opacity: 1;
          width: 50%;
          background: linear-gradient( to right, $purple, $light-purple);
        }
        &.mysql {
          opacity: 1;
          width: 50%;
          background: linear-gradient( to right, $dark-orange, $orange);
        }
        &.sass {
          opacity: 1;
          width: 50%;
          background: linear-gradient( to right, $dark-pink, $pink);
        }
        &.photoshop {
          opacity: 1;
          width: 40%;
          background: linear-gradient( to right, $blue, $light-blue);
        }
        &.illustrator {
          opacity: 1;
          width: 60%;
          background: linear-gradient( to right, $dark-orange, $orange);
        }
        &.premiere {
          opacity: 1;
          width: 30%;
          background: linear-gradient( to right, $purple, $light-purple);
        }
        &.after-effects {
          opacity: 1;
          width: 20%;
          background: linear-gradient( to right, $purple, $light-purple);
        }
        &.figma {
          opacity: 1;
          width: 80%;
          background: linear-gradient( to right, $red, $light-red);
        }
        &.seo {
          opacity: 1;
          width: 70%;
          background: linear-gradient( to right, $blue, $light-blue);
        }
        &.wordpress {
          opacity: 1;
          width: 60%;
          background: linear-gradient( to right, $blue, $light-blue);
        }
        &.angular {
          opacity: 1;
          width: 10%;
          background: linear-gradient( to right, $red, $light-red);
        }
        &.laracasts {
          opacity: 1;
          width: 10%;
          background: linear-gradient( to right, $green, $light-green);
        }
        &.bootstrap {
          opacity: 1;
          width: 50%;
          background: linear-gradient( to right, $purple, $light-purple);
        }
      }

      .skill-items {
        .row {
          width: 60vw;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          @media screen and (max-width: 720px) {
            width: 90vw;
          }
          .item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            padding:  0 16px;
            border-radius: 18px;
            margin: 8px;
            width: auto !important;
            cursor: pointer;
            color: $purple;
            border: none;
            font-weight: 400;

            &:not(.active) {
              background: transparent !important;
              color: $white;
              border: 1px solid white;
            }
          }
        }
      }
    }
  }
}