.art-page {
  width: 100vw;
  background-color: $purple;
  .content {
    position: relative;
    z-index: 1;
    top: 64px;
    color: white;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    .side-bar {
      font-size: 18px;
      .sections {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: $purple;
        width: 100vw;
        z-index: 2;

        .section {
          padding: 0 8px 4px 8px;
          margin: 16px;
          text-decoration: none;
          color: white;
          opacity: 0.5;
          cursor: pointer;
          &.active {
            opacity: 1;
            border-bottom: 1px solid white;
          }
        }
      }
      .filters {
        font-size: 16px;
        padding-top: 16px;
      }
    }
    .content-item {
      display: none;
      &.active {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 54px;
      }

      @media screen and (max-width: 1020px) {
        flex-direction: column;
      }
      .image-group {
        width: calc(33.33% - 32px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: #2f2653;
        box-shadow: 0 0 2px black;
        border-radius: 2px;
        padding: 16px;
        margin: 8px;
        cursor: pointer;
        @media screen and (max-width: 1080px) {
          width: 100vw;
        }
        img {
          width: 100%;
          height: 300px;
          object-fit: contain;
        }
        .title {
          padding-top: 8px;
          align-self: center;
        }
        .tags {
          display: none;
        }
      }
    }
    .image-preview {
      display: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 3;
      &.shown {
        display: flex;
      }
      .close-image-preview {
        position: absolute;
        top: 10px;
        right: 24px;
        cursor: pointer;
      }
      img {
        max-width: 90%;
        max-height: 90%;
      }
    }
    .image-hover {
      position: relative;
      .price-tag {
        font-size: 32px;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    .open-buy-page {
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: white;
      padding: 24px;
      font-family: "Roboto", sans-serif;
      color: black;
      display: none;
      &.open {
        display: flex;
      }
      h1 {
        font-weight: 300;
        font-size: 42px;
        text-align: center;
        color: black;
      }
      .steps {
        display: flex;
        align-items: center;
        p{
          margin: 0;
          font-weight: 300;
          color: black;
          a {
            text-decoration: none;
            color: black;
            font-weight: 700;
          }
        }
      }
      button {
        outline: none;
        border: none;
        font-weight: 500;
        padding: 8px 16px;
        background-color: #1B1630;
        color: white;
        margin-top: 16px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
    .buy-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      height: 28px;
      width: 54px;
      border-radius: 14px;
      box-sizing: border-box;
      font-weight: 300;
      background-color: #2345CB;
      color: white;
      border: none;
      box-shadow: none;
      outline: none;
      transition: background-color .3s ease, border .3s ease;
      cursor: pointer;
      font-size: 14px;
    }
  }
}


