
$gradients : (
        linear-gradient(to bottom right, #3F1589, #7E57C2),
        linear-gradient(to bottom right, #2D9CDB, #56CCF2),
        linear-gradient(to bottom right, #56CCF2, #7E57C2),
        linear-gradient(to bottom right, #7E57C2, #EB5757),
        linear-gradient(to bottom right, #EB5757, #F27200),
        linear-gradient(to bottom right, #F27200, #FFEA82),
        linear-gradient(to bottom right, #FFEA82, #79E1A4),
        linear-gradient(to bottom right, #79E1A4, #2D9CDB)
);

$colors: (#7E57C2, #56CCF2, #7E57C2, #EB5757, #F27200, #FFEA82, #79E1A4, #2D9CDB);

.drawer {
    position: fixed;
    right: 0; top: 8vh;
    height: 92vh;
    transform: translateX(100%);
    transition: transform .3s ease;

    &.open {
        transform: translateX(0);
    }

    .header {
        text-align: right;
        padding: 16px 32px 16px 16px;

        svg {
            transform: translateX(9px);
        }

        .title {
            font-size: 16px;
            font-weight: 400;
        }

        .caption {
            font-size: 14px;
            font-weight: 100;
        }
    }

    .items {
        width: 256px;
        display: flex;
        flex-direction: column;
        user-select: none;

        .drawer-item {
            height: 48px;
            display: flex;
            align-items: center;
            padding: 16px 0;
            cursor: pointer;
            text-decoration: none;

            &.dropdown {
                flex-direction: column;
                padding-bottom: 0;
                height: auto;

                .dropdown-label {
                    display: flex;
                    height: 48px;
                    width: 100%;
                    align-items: center;

                    .dropdown-arrow {
                        margin-left: auto;
                        margin-right: 16px;
                        color: black;
                    }
                }

                &.collapsed {

                    .dropdown-content {
                        height: 0 !important;

                    }
                }

                &:not(.collapsed) {

                    .dropdown-arrow {
                        transform-origin: 50% 50%;
                        transform: rotate(180deg);
                    }

                }

                .dropdown-content {
                    background-color: #F2F2F2;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    transition: height .3s ease;

                    .dropdown-drawer-item {
                        display: flex;
                        padding: 16px;
                        align-items: center;
                        box-sizing: border-box;
                        height: 62px;
                        text-decoration: none;

                        &.active {
                            color: white;

                            .info {
                                .label, .caption {
                                    color: white;
                                }
                            }



                            @for $i from 0 to length($gradients) {
                                &:nth-child(#{$i}n) {
                                    background: unquote(nth($gradients, $i+1));
                                }
                            }
                        }

                        @for $i from 0 to length($gradients) {
                                &:nth-child(#{$i}n) {
                                    .icon {
                                        background: unquote(nth($gradients, $i+1));
                                    }
                                }
                        }

                        .icon {
                            height: 24px; width: 24px;
                            border-radius: 50%;
                            margin-right: 16px;
                        }

                        .info {
                            display: flex;
                            flex-direction: column;

                            .label {
                                font-size: 14px;
                                color: black;

                                &:first-letter {
                                    text-transform: capitalize;
                                }
                            }

                            .caption {
                                font-size: 12px;
                                font-weight: 100;
                                opacity: .5;
                                color: black;

                                &:first-letter {
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }

            @for $i from 0 to length($colors) {
                &:nth-child(#{$i}n) {
                    i {
                        color: nth($colors, $i+1);
                    }
                }
            }

            &.active {
                color: white;

                i {
                    color: white;
                }

                @for $i from 0 to length($gradients) {
                    &:nth-child(#{$i}n) {
                        background: unquote(nth($gradients, $i+1));
                    }
                }
            }

            i {
                margin-left: 16px;
                margin-right: 32px;
            }

            .title {
                color: black;
            }
        }
    }
}