@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
/* font*/
$font       :'Roboto';

/*color palette*/

$purple               :#302B63;
$dark-purple          :#0F0C29;
$light-purple         :#9B51E0;

$blue                 :#2345CB;
$dark-blue            :#2345CB;
$light-blue           :#438AFC;

$red                  :#EB5757;
$dark-red             :#A50000;

$dark-orange          :#F27200;
$orange               :#F2994A;

$green                :#219653;
$light-green          :#79E1A4;

$yellow               :#FDD304;
$light-yellow         :#FFEA82;

$white                :white;
