@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
/* font*/
$font       :'Roboto';

/*color palette*/

$purple               :#0F0C29;
$dark-blue            :#2345CB;
$white                :white;
$yellow               :#FDD304;