@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
/* font*/
$font       :'Roboto';

/*color palette*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
/* font*/
$font       :'Roboto';

/*color palette*/

$purple               :#302B63;
$dark-purple          :#0F0C29;
$light-purple         :#9B51E0;

$pink                 :#C55B8E;
$dark-pink            :#C1005D;

$blue                 :#2345CB;
$dark-blue            :#2345CB;
$light-blue           :#3498db;

$turquoise            :#1abc9c;
$dark-turquoise       :#16a085;

$light-red            :#e74c3c;
$red                  :#c0392b;

$dark-orange          :#F27200;
$orange               :#f39c12;

$green                :#219653;
$light-green          :#2ecc71;

$yellow               :#f1c40f;
$light-yellow         :#FFEA82;

$white                :white;
