@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
/* font*/
/*color palette*/
* {
  flex-shrink: 0; }

body {
  margin: 0;
  font-family: "Roboto"; }

#fullpage {
  width: 100vw; }
  #fullpage .section {
    height: 100vh; }
  #fullpage .project-one {
    background-color: #0F0C29;
    position: relative;
    z-index: 2;
    height: 100vh; }
  #fullpage .project-two {
    background-color: green;
    height: 100vh; }

.resume-content {
  background-color: #0F0C29; }

.top-nav {
  height: 64px;
  width: 100vw;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid white;
  color: white;
  background-color: #0F0C29; }
  .top-nav .nav-items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px; }
    .top-nav .nav-items .logo {
      text-decoration: none;
      color: white;
      font-size: 36px;
      font-weight: 800; }
    .top-nav .nav-items .menu-icon {
      width: 24px;
      height: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .top-nav .nav-items .menu-icon .line {
        position: absolute;
        width: 24px;
        height: 3px;
        border-radius: 1.5px;
        background-color: white; }
        .top-nav .nav-items .menu-icon .line.top-line {
          top: 24px; }
        .top-nav .nav-items .menu-icon .line.middle-line {
          top: 31px; }
        .top-nav .nav-items .menu-icon .line.bottom-line {
          top: 38px; }
    .top-nav .nav-items .title-items {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 56px;
      opacity: 0; }
      .top-nav .nav-items .title-items.open {
        opacity: 1; }
      .top-nav .nav-items .title-items .title-item {
        padding: 0 24px;
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase; }
        .top-nav .nav-items .title-items .title-item:hover {
          color: #0F0C29;
          transition: color 1s linear; }
      @media only screen and (max-width: 768px) {
        .top-nav .nav-items .title-items {
          width: 100vw;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 66px;
          right: 0;
          background-color: #1d1850; }
          .top-nav .nav-items .title-items .title-item {
            width: 100%;
            padding: 16px;
            display: flex;
            justify-content: center; }
            .top-nav .nav-items .title-items .title-item:hover {
              background-color: #0F0C29;
              transition: background-color 1s linear; } }

.section .scroll-item {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  text-transform: uppercase; }
  .section .scroll-item .mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 16px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid white;
    animation: intro 1s; }

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
    .section .scroll-item .mouse .scroll {
      display: block;
      width: 3px;
      height: 3px;
      margin: 6px auto;
      border-radius: 4px;
      background: white;
      animation: finger 1s infinite; }

@keyframes finger {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(20px); } }

.front-page .front-image {
  position: relative;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1; }

.front-page .box-item {
  width: 1080px;
  height: 900px;
  position: absolute;
  top: 26px;
  left: -350px;
  background-color: #0F0C29;
  opacity: 0.9;
  z-index: 2;
  transform: rotate(-45deg);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@media only screen and (max-width: 768px) {
  .front-page .front-image {
    display: none; }
  .front-page .box-item {
    transform: rotate(0);
    opacity: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0; } }

.front-page .text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  z-index: 3;
  top: 30%;
  padding: 24px;
  color: white; }
  .front-page .text-area .name {
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .front-page .text-area .title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    padding: 8px 0 8px 0; }
  .front-page .text-area .sub-title {
    font-size: 16px;
    font-weight: 100; }
  .front-page .text-area .buttons {
    display: flex;
    align-items: flex-start;
    padding-top: 16px; }
    .front-page .text-area .buttons .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      width: 127px;
      background-color: #2345CB;
      border-radius: 19px;
      color: white;
      font-weight: 100;
      margin-right: 16px;
      text-decoration: none; }
      .front-page .text-area .buttons .btn.project-btn {
        background-color: white;
        color: #2345CB; }

.project-one {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; }
  .project-one .all-projects-box {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    position: absolute;
    top: 128px;
    left: 16px;
    font-size: 16px;
    font-weight: 100; }
    @media only screen and (max-width: 768px) {
      .project-one .all-projects-box {
        width: 100vw;
        top: 70px; } }
    .project-one .all-projects-box .title {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 36px; }
    .project-one .all-projects-box .description {
      padding: 16px 0; }
    .project-one .all-projects-box .all-project-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 36px;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      border: 1px solid white;
      border-radius: 18px; }
  .project-one .project-items {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px; }
    @media only screen and (max-width: 768px) {
      .project-one .project-items {
        flex-direction: column; } }
    .project-one .project-items .item {
      width: 376px;
      color: white;
      display: flex;
      flex-direction: column;
      font-weight: 100;
      position: absolute;
      top: 30%;
      right: 25%; }
      .project-one .project-items .item .view-design-btn {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .project-one .project-items .item .view-design-btn .arrow-icon {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #FDD304;
          margin-left: 16px;
          color: #0F0C29; }

.art-page {
  width: 100vw;
  background-color: #0F0C29; }
  .art-page .content {
    position: relative;
    z-index: 1;
    top: 64px;
    color: white;
    font-weight: 100;
    display: flex;
    flex-direction: column; }
    .art-page .content .side-bar {
      font-size: 18px; }
      .art-page .content .side-bar .sections {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: #0F0C29;
        width: 100vw;
        z-index: 2; }
        .art-page .content .side-bar .sections .section {
          padding: 0 8px 4px 8px;
          margin: 16px;
          text-decoration: none;
          color: white;
          opacity: 0.5;
          cursor: pointer; }
          .art-page .content .side-bar .sections .section.active {
            opacity: 1;
            border-bottom: 1px solid white; }
      .art-page .content .side-bar .filters {
        font-size: 16px;
        padding-top: 16px; }
    .art-page .content .content-item {
      display: none; }
      .art-page .content .content-item.active {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 54px; }
      @media screen and (max-width: 1020px) {
        .art-page .content .content-item {
          flex-direction: column; } }
      .art-page .content .content-item .image-group {
        width: calc(33.33% - 32px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: #2f2653;
        box-shadow: 0 0 2px black;
        border-radius: 2px;
        padding: 16px;
        margin: 8px;
        cursor: pointer; }
        @media screen and (max-width: 1080px) {
          .art-page .content .content-item .image-group {
            width: 100vw; } }
        .art-page .content .content-item .image-group img {
          width: 100%;
          height: 300px;
          object-fit: contain; }
        .art-page .content .content-item .image-group .title {
          padding-top: 8px;
          align-self: center; }
        .art-page .content .content-item .image-group .tags {
          display: none; }
    .art-page .content .image-preview {
      display: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 3; }
      .art-page .content .image-preview.shown {
        display: flex; }
      .art-page .content .image-preview .close-image-preview {
        position: absolute;
        top: 10px;
        right: 24px;
        cursor: pointer; }
      .art-page .content .image-preview img {
        max-width: 90%;
        max-height: 90%; }
    .art-page .content .image-hover {
      position: relative; }
      .art-page .content .image-hover .price-tag {
        font-size: 32px;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease; }
        .art-page .content .image-hover .price-tag:hover {
          opacity: 1; }
    .art-page .content .open-buy-page {
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: white;
      padding: 24px;
      font-family: "Roboto", sans-serif;
      color: black;
      display: none; }
      .art-page .content .open-buy-page.open {
        display: flex; }
      .art-page .content .open-buy-page h1 {
        font-weight: 300;
        font-size: 42px;
        text-align: center;
        color: black; }
      .art-page .content .open-buy-page .steps {
        display: flex;
        align-items: center; }
        .art-page .content .open-buy-page .steps p {
          margin: 0;
          font-weight: 300;
          color: black; }
          .art-page .content .open-buy-page .steps p a {
            text-decoration: none;
            color: black;
            font-weight: 700; }
      .art-page .content .open-buy-page button {
        outline: none;
        border: none;
        font-weight: 500;
        padding: 8px 16px;
        background-color: #1B1630;
        color: white;
        margin-top: 16px; }
        .art-page .content .open-buy-page button a {
          text-decoration: none;
          color: white; }
    .art-page .content .buy-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      height: 28px;
      width: 54px;
      border-radius: 14px;
      box-sizing: border-box;
      font-weight: 300;
      background-color: #2345CB;
      color: white;
      border: none;
      box-shadow: none;
      outline: none;
      transition: background-color .3s ease, border .3s ease;
      cursor: pointer;
      font-size: 14px; }

.resume-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; }
  .resume-content .back-btn {
    position: absolute;
    z-index: 4;
    left: 16px;
    top: 16px; }
    .resume-content .back-btn i {
      color: white; }
  .resume-content .cv-image {
    object-fit: cover;
    align-self: center;
    height: calc(100% - 32px);
    width: auto;
    position: absolute;
    z-index: 4; }
    @media only screen and (max-width: 720px) {
      .resume-content .cv-image {
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        top: 54px; } }
    @media only screen and (max-width: 420px) {
      .resume-content .cv-image {
        top: 0; } }
  .resume-content .top-nav {
    filter: blur(10px); }
  .resume-content .blur-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(10px);
    position: absolute;
    z-index: 3; }
